:root {
  --bg-main: #7d354f;
}



.bg-main {
  background-color: var(--bg-main);
  height: 130vh;
  border-top: 4px solid var(--bg-main);
  border-top-style: groove;
}

.bg-img {
  background-image: url("bg-ice-cream.jpeg");
  width: 100%;
  height: 99%;

  background-size: cover;
  background-repeat: repeat;
  animation: animate 120s ease-in-out infinite;
  margin-bottom: 3rem;
}
.logo {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 110vh;
  box-shadow: 0px 200px 1000px var(--bg-main);
  object-fit: fill;
  opacity: .8;
  margin-bottom: 3rem;
}

nav {
  opacity: .9;
}
.nav-logo {
  height: 4rem;
  box-shadow: 0px 2px 10px #e9d8c4;
  opacity: 1;
  border-radius: 50%;
  border: 1px solid #e9d8c4;
  border-style: inset ridge;
}
.navbar {
  box-shadow: 2px 2px 10px #e9d8c4;
}


.dropdown-menu[data-bs-popper] {
  width: 25rem;
  text-align: center;
  margin-left: -300%;
  margin-top: .5rem;
}

.nav-link {
  font-size: 3rem;
  color: rgb(80, 201, 153);
  text-shadow: 2px 2px 2px rgb(233, 192, 146);
}
.nav-link:hover {
  color: rgb(89, 63, 43);
  text-shadow: 2px 2px 2px rgb(80, 201, 153);
  transition: .5s;
}

.toggler-font {
  color: rgb(80, 201, 153);
  text-shadow: 2px 2px 2px rgb(233, 192, 146);
}

.toggler-font:hover {
  color: rgb(89, 63, 43);
  text-shadow: 2px 2px 2px rgb(80, 201, 153);
  transition: .5s;
}

.offcanvas-title {
  color: rgb(150, 217, 150);
  text-shadow: 1px 1px 2px rgb(56, 42, 31);
}

.offcanvas-body {
  font-size: 12px;
  width: 100%;
}




.candy-font {
  color: #53ab8f;
  text-shadow: 2px 2px 6px #e9d8c4;
  font-size: 2.5rem;
  font-family: 'Skranji', cursive;
  filter: brightness(105%);
  border: 9px inset #f0cca9;
  border-style: inset groove;
  border-radius: 2rem;
  box-shadow: inset 10px 10px 10px #f0cca9;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 42rem;
  margin-bottom: .5rem;
}

.arrow {
  justify-content: center;
  height: 30%;
  margin-bottom: 5rem;
  transform: rotateY(360deg);
  opacity: .8;
}

.rotate-arrow {
  justify-content: center;
  height: 30%;
  margin-bottom: 5rem;
  transform: rotateY(180deg);
  opacity: .8;
}

.story-head {
  filter: brightness(110%);
}

.story {
  color: rgb(80, 201, 153);
  text-shadow: 2px 2px 1px #443a30;
  font-size: 24px;
  font-family: fantasy;
  word-spacing: .25rem;
  letter-spacing: .1rem;
  padding-top: 5rem;
}




@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  
  .card-registration .select-arrow {
  top: 13px;
  }
  
  .bg-grey {
  background-color: #eae8e8;
  }

  .hidden {
    visibility: hidden !important;
  }
  
  @media (min-width: 992px) {
  .card-registration-2 .bg-grey {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }
  
  @media (max-width: 991px) {
  .card-registration-2 .bg-grey {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
  
    25% {
      background-position: right bottom;
     }
  
    50% {
      background-position: left bottom;
    }
  
    75% {
      background-position: right top;
    }   
  }